<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Fusion Books</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="1003" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="180" height="109" align="right"><img src="images/logo.gif" alt="" width="146" height="26" /></td>
                <td valign="bottom"><table width="210" border="0" align="right" cellpadding="0" cellspacing="0" bgcolor="#0099FF">
                    <tr>
                      <td width="4"><img src="images/curve_left.gif" alt="" width="4" height="23" /></td>
                      <td width="115" align="center"><a href="#" class="toplink">Create New Client</a> </td>
                      <td width="4"><img src="images/curve_right.gif" alt="" width="4" height="23" /></td>
                      <td width="3" bgcolor="#FFFFFF">&nbsp;</td>
                      <td width="4"><img src="images/curve_left.gif" alt="" width="4" height="23" /></td>
                      <td width="50" align="center"><a href="#" class="toplink">Logout</a></td>
                      <td width="4"><img src="images/curve_right.gif" alt="" width="4" height="23" /></td>
                      <td width="25" bgcolor="#FFFFFF">&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td height="39" style="padding-right:95px;"><form id="form1" name="form1" method="post" action="" style="margin:0px;">
              <table width="385" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td><label>
                    <input type="text" name="textfield" class="textfield" />
                    </label></td>
                  <td width="78"><img src="images/search.jpg" alt="" width="78" height="21" /></td>
                </tr>
              </table>
            </form></td>
        </tr>
        <tr>
          <td height="16"></td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="220" valign="top"><table width="188" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#97dbff">
                    <tr>
                      <td><img src="images/top.jpg" alt="" width="188" height="33" /></td>
                    </tr>
                    <tr>
                      <td height="30"><a href="#" class="lefttxt">Workspace</a></td>
                    </tr>
                    <tr>
                      <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                    </tr>
                    <tr>
                      <td height="30"><a href="#" class="lefttxt">Process Summary</a></td>
                    </tr>
                    <tr>
                      <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                    </tr>
                    <tr>
                      <td height="30"><a href="#" class="lefttxt">Trail  Account due to Expire</a></td>
                    </tr>
                    <tr>
                      <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                    </tr>
                    <tr>
                      <td height="30"><a href="#" class="lefttxt">Trail  Account Expired</a></td>
                    </tr>
                    <tr>
                      <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                    </tr>
                    <tr>
                      <td height="30"><a href="#" class="lefttxt">Debtors Report</a></td>
                    </tr>
                    <tr>
                      <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                    </tr>
                    <tr>
                      <td height="30"><a href="#" class="lefttxt">Account almost due</a></td>
                    </tr>
                    <tr>
                      <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                    </tr>
                    <tr>
                      <td height="30"><a href="#" class="lefttxt">Deposit Due</a></td>
                    </tr>
                    <tr>
                      <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                    </tr>
                    <tr>
                      <td height="30"><a href="#" class="lefttxt">Books ready for  print</a></td>
                    </tr>
                    <tr>
                      <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                    </tr>
                    <tr>
                      <td height="30"><a href="#" class="lefttxt">Book almost due</a></td>
                    </tr>
                    <tr>
                      <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                    </tr>
                    <tr>
                      <td><img src="images/left_bottom.gif" alt="" width="188" height="13" /></td>
                    </tr>
                  </table></td>
                <td valign="top"><table width="767" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#0d76aa">
                          <tr>
                            <td width="4"><img src="images/head_curve_left.gif" alt="" width="4" height="33" /></td>
                            <td class="head"> Client Sheet</td>
                            <td width="4"><img src="images/head_curve_right.gif" alt="" width="4" height="33" /></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="400" valign="top" class="border"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td class="subhead">Sacred Heart College</td>
                          </tr>
                          <tr>
                            <td height="1" bgcolor="#006699"></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td><form id="form2" name="form2" method="post" action="" style="margin:0;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="350" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="2">
                                        <tr>
                                          <td class="grouphead">Ref#</td>
                                          <td width="2">&nbsp;</td>
                                          <td width="150"><input type="text" name="textfield2" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Contact Person Name </td>
                                          <td>&nbsp;</td>
                                          <td><input type="text" name="textfield22" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">School Name </td>
                                          <td>&nbsp;</td>
                                          <td><input type="text" name="textfield23" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">No.books requires </td>
                                          <td>&nbsp;</td>
                                          <td><input type="text" name="textfield24" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Editor's Deadline</td>
                                          <td>&nbsp;</td>
                                          <td><input type="text" name="textfield25" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Delivery Address</td>
                                          <td>&nbsp;</td>
                                          <td><input type="text" name="textfield26" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Delivery Date</td>
                                          <td>&nbsp;</td>
                                          <td><input type="text" name="textfield27" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Contact Number</td>
                                          <td>&nbsp;</td>
                                          <td><input type="text" name="textfield28" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="grouphead">Production Information</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Number of books</td>
                                          <td>&nbsp;</td>
                                          <td><input type="text" name="textfield282" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Number of pages</td>
                                          <td>&nbsp;</td>
                                          <td><label>
                                            <input type="text" name="textfield283" class="field" />
                                            </label></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Inside paper to be printed by</td>
                                          <td>&nbsp;</td>
                                          <td><select name="select2"  class="listmenu">
                                              <option>--- Select ---</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Cover to be printed by </td>
                                          <td>&nbsp;</td>
                                          <td><select name="select" class="listmenu">
                                              <option>--- Select ---</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Laminating to be performed by </td>
                                          <td>&nbsp;</td>
                                          <td><select name="select3" class="listmenu">
                                              <option>--- Select ---</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Binding to be performed by</td>
                                          <td>&nbsp;</td>
                                          <td><select name="select4" class="listmenu">
                                              <option>--- Select ---</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Books to be deliverd by </td>
                                          <td>&nbsp;</td>
                                          <td><select name="select5" class="listmenu">
                                              <option>--- Select ---</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">(connote numbers )</td>
                                          <td>&nbsp;</td>
                                          <td><input type="text" name="textfield2832" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Type of freight</td>
                                          <td>&nbsp;</td>
                                          <td><select name="select6" class="listmenu">
                                              <option>--- Select ---</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Dispatched on </td>
                                          <td>&nbsp;</td>
                                          <td><input type="text" name="textfield2833" class="field" /></td>
                                        </tr>
										<tr>
                                          <td class="tbtext">Ready For Print </td>
                                          <td>&nbsp;</td>
                                          <td><input type="checkbox" name="print" id="print" class="field" /></td>
                                        </tr>
                                      </table></td>
                                    <td>&nbsp;</td>
                                    <td width="350" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="2">
                                        <tr>
                                          <td class="grouphead">Account Information</td>
                                          <td width="2">&nbsp;</td>
                                          <td width="150">&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Trial account expires on</td>
                                          <td class="tbtext">&nbsp;</td>
                                          <td><input type="text" name="textfield222" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">No.books required</td>
                                          <td class="tbtext">&nbsp;</td>
                                          <td><input type="text" name="textfield232" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">No.pages reqired</td>
                                          <td class="tbtext">&nbsp;</td>
                                          <td><input type="text" name="textfield242" class="field" /></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Deposit 	PAID</td>
                                          <td class="tbtext">&nbsp;</td>
                                          <td><a href="#" class="paid">PAID</a></td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Rate type</td>
                                          <td class="tbtext">:</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Base rate (50 pp)</td>
                                          <td class="tbtext">:</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Per page rate</td>
                                          <td class="tbtext">:</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Extra cost(per books)</td>
                                          <td class="tbtext">:</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Extra cost(all books) </td>
                                          <td class="tbtext">:</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">60% Payment paymeny</td>
                                          <td class="tbtext">:</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Final payment</td>
                                          <td class="tbtext">:</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">&nbsp;</td>
                                          <td class="tbtext">&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="grouphead">Login Details</td>
                                          <td class="tbtext">&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Contact Person Login Details</td>
                                          <td class="tbtext">&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Editors Login Details</td>
                                          <td class="tbtext">&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="tbtext">Contributors Login Details</td>
                                          <td class="tbtext">&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                </table>
                              </form></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="subhead">Client History</td>
                                <td><a href="#" class="create">Create New Entry</a></td>
                                <td><a href="#" class="create">+ More Info </a></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="4"><img src="images/curve_bottom_left.gif" width="4" height="4" /></td>
                            <td background="images/bottom_pic.gif"><img src="images/bottom_pic.gif" alt="" width="1" height="4" /></td>
                            <td width="4"><img src="images/curve_bottom_right.gif" alt="" width="4" height="4" /></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="57" background="images/footer_bg.gif">&nbsp;</td>
  </tr>
</table>
</body>
</html>
